<a href="https://colab.research.google.com/github/Void-Brain70/CompilarDesign/blob/main/Symbol_Table_Lab_Problem_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# pandas is a open source Python Package is mostly used in data Science.
import pandas as pd # pandas is a python library used for working with data sets 
# DataFrame is a 2 dimensional data structure,like a 2 dimensional array, or a table with rows and columns.
df = pd.DataFrame(columns=['Name','Type']) # Here we used Dataframe with columns
df.head() # df.head() Returns the first 5 rows of the dataframe.

Empty DataFrame
Columns: [Name, Type]
Index: []

In [3]:
# Constuct a Insert Function for Insert a new symbol/name along with its type into the symbol table
def Insert(df, name, typee): # Here we define df,name and type for insert      
    if (name not in df.Name.values) or (typee not in df.Type.values): # Here we try check DataFrame.values attribute to return the numpy representation of the given DataFrame.
        df.loc[-1] = [name, typee]  # loc attribute to return one or more specified row(s)
        df.index = df.index + 1 # index property returns a RangeIndex object with the start, stop, and step values.
        df = df.sort_index() # The sort_index() method sorts the DataFrame by the index.
    return df 

# Constuct a Search Function for Search a symbol/name along with its type from the symbol table
def Search(df, name): # Here we define df,name for search by name
    return df.loc[df['Name'] == name]    # if we find datafame location name =="Name" then we return it


# Constuct a Delete Function for Delete a symbol/name along with its type into the symbol table
def Delete(df, name): # Here we define df,name for delete by name
    try:
        idxdelete = df.loc[df['Name'] == name].index[0] # if we found dataframe location 'Name' == name then we index value initialize [0] for deleteing element
        df.drop([idxdelete],axis=0,inplace=True) # drop() method removes the specified row or column. In this case we drop[indexdelete] and here axis=0(Which axis to check, default 0)
        # inplace=True Optional, default False. If True: the removing is done on the current DataFrame.
        df.reset_index(inplace=True) # The reset_index() method allows you reset the index back to the default 0, 1, 2 etc indexes.
        df.drop('index',axis=1,inplace=True) # Finnaly drop or delete this Name from index
        return df # Return New DataFame
    except:       # Or given data is not found in Dataframe
        print('Deleting value not found') # We print Deleting value not found
        return df # Return Same DataFrame   

# Constuct a Show Function for Show the contents of symbol table in the console
def Show():
    print(df) # Print the DataFrame

# Constuct a Update Function for Update an already existing entry in the symbol table
def Update(df, name=None, New_name=None, typee=None, New_typee=None): # Here we define New_Name,New_typee for Update New Value
    if name:    
        if name in df.Name.values: # Check df.Name.Values for update New Values
            df.loc[df.Name == name,'Name'] = New_name # Update value We Define a Loc for new value Update in Datafame
    if typee:
        if typee in df.Type.values: # Check df.Type.Values for add New Type
            df.loc[df.Type == typee,'Type'] = New_typee # # updated We Define a Loc for new value Update in Datafame           
    return df # Retuen Updated DataFame

# Constuct a GetHashKey  Function
def GetHashKey(df, name):
    return df.loc[df['Name'] == name].index[0] # Here we return loction of DataFrame for Related Name values for Hash Key

In [5]:
# Input Section--->>>
# int, INTEGER
# myFunction, FUNCTION
# x, ID
# 5, NUM
df = Insert(df,'int','INTEGER')
df = Insert(df,'myFunction','FUNCTION')
df = Insert(df,'x','ID')
df = Insert(df,'5','NUM')
print("###----DataFrame----###")
df

###----DataFrame----###

         Name      Type
0           5       NUM
1           x        ID
2  myFunction  FUNCTION
3         int   INTEGER

In [7]:
# Insert New Value
print("###----Insert New Value----###")
df = Insert(df,'Anik','String')
df

###----Insert New Value----###

         Name      Type
0        Anik    String
1           Y     float
2           5       NUM
3           x        ID
4  myFunction  FUNCTION
5         int   INTEGER

In [8]:
# Search Value 
print("###----Search Value----###")
Search(df, 'Anik')

###----Search Value----###

   Name    Type
0  Anik  String

In [9]:
# Delete Value
print("###----Delete Value----###")
df = Delete(df,name='Y')
df

###----Delete Value----###

         Name      Type
0        Anik    String
1           5       NUM
2           x        ID
3  myFunction  FUNCTION
4         int   INTEGER

In [10]:
# Show DataFrame
print("###----Show DataFrame----###")
Show()

###----Show DataFrame----###
         Name      Type
0        Anik    String
1           5       NUM
2           x        ID
3  myFunction  FUNCTION
4         int   INTEGER

In [11]:
# Update DataFrame
print("###----Update DataFrame----###")
df = Update(df, 'myFunction','Void','FUNCTION','UPDATE')
df

###----Update DataFrame----###

   Name     Type
0  Anik   String
1     5      NUM
2     x       ID
3  Void   UPDATE
4   int  INTEGER

In [14]:
# Get Hash Key
print("###----Get Hash Key----###")
GetHashKey(df,'Anik')

###----Get Hash Key----###

0